.header {  
    background-image: url(../../assets/Images/subheader-home.jpg);
    background-origin: content-box;
    background-size: cover;
    position: relative;
}
.subheader {
    width: 100%;
    min-height: 650px;
}
nav div a {
    display: block;
    margin: 8px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: color .5s;
}
nav div a:hover {
    color: #e68541;
}
.header h1, .header p, .header button {
    margin: 15px 30px;    
}
.header p {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}
.subheader-block {
    position: absolute;
    right: 3%;
    bottom: -10%;
    z-index: 5;
}
.subheader-block>div {
    width: 50%;
    height: 18vw;
}
.subheader-block a {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: left;
    color: #fff;
    z-index: 7;
}
.subheader-block a:hover {
    color: #e68541;
}