.header {   
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-home {
    background-image: url(../../assets/Images/subheader-home.jpg);
}
.header-about {
    background-image: url(../../assets/Images/header-about.jpg);
}
.header-events {
    background-image: url(../../assets/Images/header-events.jpg);
}
.header-contacts {
    background-image: url(../../assets/Images/header-contacts.jpg);
}
.subheader {
    width: 100%;
    min-height: 650px;
}
.subheader-additinal {
    width: 100%;
    min-height: 350px;
}
.header h1, .header p, .header button {
    margin: 15px 30px;    
}
.header p {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}
.subheader-block {
    position: absolute;
    right: 3%;
    bottom: -10%;
    z-index: 5;
}
.subheader-block>div {
    width: 50%;
    height: 18vw;
}
.subheader-block a {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: left;
    color: #fff;
    z-index: 7;
}
.subheader-block a:hover {
    color: #e68541;
}


@media (max-width: 575px) {
    .subheader-block {
        display: flex;
        flex-flow: column;
        right: 0;
        bottom: -400px;
    }
    .subheader-block>div {
        width: 90%;
        height: auto;
        position: relative;
    }
    .subheader-block a {
        font-size: 16px;
    }
}