.box img {   
    transform: translateY(0) scale(1.05);
    transition: transform .35s linear;
}
.box-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 3;
    transition: background-color .25s linear;
}
.links-panel {
    visibility: hidden;
    width: 100%;
    position: absolute;
    bottom: -60px;
    transition: all .25s linear;
    z-index: 4;
}
.links-panel div{
    position: relative;
    display: block;
    width: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #e68641dc;
}
.links-panel div:first-child {
    border-right: 1px solid #a8a8a8;
}
.links-panel div:hover {
    color: #e68641dc;
    background-color: #fff;
}
.copied-massage {
    text-align: center;
    width: 50%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;    
    background-color: rgba(170, 170, 170, 0.75);
    color: black;
    z-index: 20;
}
.zoom-photo {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 8;    
    overflow: hidden;
}
.events {
    align-items: flex-start;
}
.events div.box:hover .box-overlay {
    background-color: #ffffff77;
    transition: background-color .25s linear;
}
.events div.box:hover img {
    transform: translateY(-10px) scale(1.05);
    transition: transform .35s ease;
}
.events div.box:hover .links-panel {
    visibility: visible;
    bottom: 0;
    transition: all .25s linear;
}
.event-block {
    padding: 20px 20px 20px;
}
.event-block div {
    padding-bottom: 15px;
}
.cathegory-ev {
    font-weight: 600;
    cursor: pointer;
}
.cathegory-ev a {
    text-decoration: none;
}
.cathegory-ev a span:hover {
    text-decoration: underline;
}
.date-ev {
    color: #a8a8a8;
    cursor: pointer;
}
.date-ev a {
    text-decoration: none;
    color: #a8a8a8;
}
.date-ev a span {    
    color: inherit;
    border-bottom: 1px dotted #2f2721;
}
.date-ev a span:hover {
    color: #2f2721;
    border-bottom: 1px solid #2f2721;
}
.title-ev {
    font-size: 25px;
    color: #2f2721;
    line-height: 1.25;
}
.text-ev {
    hyphens: auto;
}
.more-ev {
    align-items: flex-start;
}
.more-ev a {
    text-decoration: none;
}
.more-ev a span:hover {
    color: #e68541;
    text-decoration: underline;
}

@media (max-width: 575px) {
    .box img {
        max-height: 330px;
    }
}
@media (min-width: 768px) {
    .box img {
        max-height: 205px;
    }
}
@media (min-width: 992px) {
    .box img {
        max-height: 280px;
    }
}
@media (min-width: 1200px) {
    .box img {
        max-height: 330px;
    }
} 